In [0]:
import tensorflow as tf

In [2]:
tf.__version__

'2.2.0-rc4'

In [0]:
from tensorflow.keras import Sequential
from tensorflow.keras.layers import *

In [0]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
import matplotlib.pyplot as plt

### 数据预处理

In [5]:
# from google.colab import drive
# drive.mount('/content/drive')

dataset = pd.read_csv('/content/drive/My Drive/KGP Talkie/Churn_Modelling.csv')
dataset.head()

# Surname: 姓
# CreditScore: 信用评分
# Geography: 地理
# Tenure : 任期
# EstimatedSalary : 预估工资

   RowNumber  CustomerId   Surname  ...  IsActiveMember EstimatedSalary Exited
0          1    15634602  Hargrave  ...               1       101348.88      1
1          2    15647311      Hill  ...               1       112542.58      0
2          3    15619304      Onio  ...               0       113931.57      1
3          4    15701354      Boni  ...               0        93826.63      0
4          5    15737888  Mitchell  ...               1        79084.10      0

[5 rows x 14 columns]

In [0]:
X = dataset.drop(labels=['RowNumber', 'CustomerId', 'Surname', 'Exited'],axis=1)
y = dataset['Exited']

In [7]:
X.head()

   CreditScore Geography  Gender  ...  HasCrCard  IsActiveMember  EstimatedSalary
0          619    France  Female  ...          1               1        101348.88
1          608     Spain  Female  ...          0               1        112542.58
2          502    France  Female  ...          1               0        113931.57
3          699    France  Female  ...          0               0         93826.63
4          850     Spain  Female  ...          1               1         79084.10

[5 rows x 10 columns]

In [8]:
y.head()

0    1
1    0
2    1
3    0
4    0
Name: Exited, dtype: int64

In [0]:
from sklearn.preprocessing import LabelEncoder

In [0]:
label1 = LabelEncoder()
X['Geography'] = label1.fit_transform(X['Geography'])

In [11]:
X.head()

   CreditScore  Geography  Gender  ...  HasCrCard  IsActiveMember  EstimatedSalary
0          619          0  Female  ...          1               1        101348.88
1          608          2  Female  ...          0               1        112542.58
2          502          0  Female  ...          1               0        113931.57
3          699          0  Female  ...          0               0         93826.63
4          850          2  Female  ...          1               1         79084.10

[5 rows x 10 columns]

In [12]:
label = LabelEncoder()
X['Gender'] = label.fit_transform(X['Gender'])
X.head(10)

   CreditScore  Geography  Gender  ...  HasCrCard  IsActiveMember  EstimatedSalary
0          619          0       0  ...          1               1        101348.88
1          608          2       0  ...          0               1        112542.58
2          502          0       0  ...          1               0        113931.57
3          699          0       0  ...          0               0         93826.63
4          850          2       0  ...          1               1         79084.10
5          645          2       1  ...          1               0        149756.71
6          822          0       1  ...          1               1         10062.80
7          376          1       0  ...          1               0        119346.88
8          501          0       1  ...          0               1         74940.50
9          684          0       1  ...          1               1         71725.73

[10 rows x 10 columns]

In [13]:
X = pd.get_dummies(X, drop_first=False, columns=['Geography'])
X.head()

   CreditScore  Gender  Age  ...  Geography_0  Geography_1  Geography_2
0          619       0   42  ...            1            0            0
1          608       0   41  ...            0            0            1
2          502       0   42  ...            1            0            0
3          699       0   39  ...            1            0            0
4          850       0   43  ...            0            0            1

[5 rows x 12 columns]

### 数据标准化

In [0]:
from sklearn.preprocessing import StandardScaler

In [0]:
# stratify 按照y的比例划分数据集
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=0, stratify = y)

In [0]:
scaler = StandardScaler()
X_train = scaler.fit_transform(X_train)
X_test = scaler.fit_transform(X_test)

In [17]:
X_train.shape

(8000, 12)

### 建立模型

In [0]:
model = Sequential()
model.add(Dense(X.shape[1], activation='relu', input_dim=X.shape[1]))
model.add(Dense(128, activation='relu'))
model.add(Dense(1, activation='sigmoid'))

In [0]:
model.compile(optimizer='adam', loss='binary_crossentropy', metrics=['accuracy'])

In [20]:
model.fit(X_train, y_train, epochs=10, batch_size=10)

Epoch 1/10
800/800 [==============================] - 2s 2ms/step - loss: 0.4558 - accuracy: 0.8041
Epoch 2/10
800/800 [==============================] - 2s 2ms/step - loss: 0.4212 - accuracy: 0.8216
Epoch 3/10
800/800 [==============================] - 2s 2ms/step - loss: 0.4105 - accuracy: 0.8284
Epoch 4/10
800/800 [==============================] - 2s 2ms/step - loss: 0.4012 - accuracy: 0.8338
Epoch 5/10
800/800 [==============================] - 2s 2ms/step - loss: 0.3826 - accuracy: 0.8410
Epoch 6/10
800/800 [==============================] - 2s 2ms/step - loss: 0.3585 - accuracy: 0.8569
Epoch 7/10
800/800 [==============================] - 2s 2ms/step - loss: 0.3455 - accuracy: 0.8604
Epoch 8/10
800/800 [==============================] - 2s 2ms/step - loss: 0.3392 - accuracy: 0.8615
Epoch 9/10
800/800 [==============================] - 2s 2ms/step - loss: 0.3359 - accuracy: 0.8633
Epoch 10/10
800/800 [==============================] - 2s 2ms/step - loss: 0.3334 - accuracy: 0.8651

In [21]:
y_pred = model.predict_classes(X_test)

WARNING:tensorflow:From <ipython-input-21-fdaaf2360398>:1: Sequential.predict_classes (from tensorflow.python.keras.engine.sequential) is deprecated and will be removed after 2021-01-01.
Instructions for updating:
Please use instead:* `np.argmax(model.predict(x), axis=-1)`,   if your model does multi-class classification   (e.g. if it uses a `softmax` last-layer activation).* `(model.predict(x) > 0.5).astype("int32")`,   if your model does binary classification   (e.g. if it uses a `sigmoid` last-layer activation).

In [22]:
y_pred

array([[0],
       [0],
       [0],
       ...,
       [0],
       [1],
       [0]], dtype=int32)

In [23]:
y_test

1344    1
8167    0
4747    0
5004    1
3124    1
       ..
9107    0
8249    0
8337    0
6279    1
412     0
Name: Exited, Length: 2000, dtype: int64

In [24]:
model.evaluate(X_test, y_test)

63/63 [==============================] - 0s 2ms/step - loss: 0.3534 - accuracy: 0.8565

[0.3534173369407654, 0.8565000295639038]

In [0]:
from sklearn.metrics import confusion_matrix, accuracy_score

In [26]:
confusion_matrix(y_test, y_pred)

array([[1549,   44],
       [ 243,  164]])

In [27]:
accuracy_score(y_test, y_pred)

0.8565